.g-note {
  background: #FFFFFF;
  margin-bottom: 200px;
  padding-bottom: 30px;

  .m-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px auto 80px;

    .header-img {
      margin: -160px auto 0;
      max-width: 710px;
      img {
        max-width: 100%
      }
    }

    .title {
      width: 667px;
      margin: 40px auto 30px;
      font-weight: 500;
      font-size: 28px;
      line-height: 42px;
      color: #292525;
    }

    .info {
      width: 667px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .user-icon img {
        width: 32px;
        height: 32px;
        margin: 0 10px 0 0;
        border-radius: 36px;
      }

      .time {
        line-height: 32px;
      }
    }
  }

  .content {
    width: 667px;
    margin: 0 auto;
    min-height: 500px;
    font-size: 18px;
  }

  .braft-output-content p {
    line-height: 30px;
    min-height: 1em;
    color: #4c4e4d;
  }

  .braft-output-content .image-wrap img {
    max-width: 100%;
    height: auto
  }

  .braft-output-content ul, .braft-output-content ol {
    margin: 16px 0;
    padding: 0
  }

  .braft-output-content blockquote {
    margin: 0 0 10px 0;
    padding: 15px 20px;
    background-color: #f1f2f3;
    border-left: solid 5px #ccc;
    color: #666;
    font-style: italic
  }

  .braft-output-content pre {
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0;
    padding: 15px;
    overflow: auto;
    background-color: #f1f2f3;
    border-radius: 3px;
    color: #4c4e4d;
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    word-wrap: break-word;
    white-space: pre-wrap
  }

  .braft-output-content pre pre {
    margin: 0;
    padding: 0
  }


}
