.g-setting {
  width: 548px;
  margin: 0 auto;

  label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #292525;
    text-align: left;
  }

  .m-title {
    font-size: 32px;
    line-height: 45px;
    letter-spacing: .1em;
    padding: 50px 0 20px;
    border-bottom: 1px solid #e5e5e5;
  }

  .setting-save {
    padding: 5px 40px;
    color: #fd281a;
    background: #fff;
    border-radius: 24px;
    border: none;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 1rem;
    text-align: center;
    letter-spacing: .1em;
  }

  .m-form {
    background: #FFFFFF;
    margin: 20px 0;
    padding: 20px 30px;
  }

  .setting-save:hover {
    color: #fff;
    background: #fd281a;
  }
}
