.g-write {
  padding: 20px 0;

  .title-input {
    border-radius: 0;
    border: none;
    height: 48px;
    line-height: 40px;
    font-size: 26px;
    font-weight: 700;
    outline: none;
  }


  .m-editor {
    background: #ffffff;
  }

  .m-flex-row {
    .ant-form-item-children {
      display: flex;
      justify-content: space-between;
    }
  }
}
