.g-profile {
  max-width: 1120px;
  min-height: calc(100vh - 60px);
  margin: 0 auto;

  .m-container {
    padding-top: 50px;
    display: flex;


    .user-content {

    }


    .right-side {
      margin-left: 52px;
      position: fixed;
      top: 110px;
      left: calc(50% + 240px);
      z-index: 99;
    }
  }
}
